html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .setAside:hover {
    background-color: #CFF2F2;
  }
  
  .setAside {
    background-color: #E5F2F2;
  }

  .getTabs:hover {
    background-color: #CFF2F2;
  }
  
  .getTabs {
    background-color: #E5F2F2;
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  }